@import url(https://fonts.googleapis.com/css?family=Montserrat);

h1, h2, h3, h4, h5, h6, p, q, a {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/* START CUSTOM SLIDER CSS */
#main-slider-section {
    margin-top: -10%;

}

/* END CUSTOM SLIDER CSS */

#salong-section-content {
    margin-bottom: 5%;
}